<html lang="en"></html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Provinsi</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="me-auto ms-2 mt-2"><a href="/"><i class="fa-solid fa-house fs-3"></i></a></div>
    <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <!-- Form Header -->
        <h3 class="text-center mb-4">Add Kabupaten</h3>

        <!-- Add Kabupaten Form -->
        <form action="/add-kabupaten" method="post" id="addProvinsiForm">
          <!-- City Name -->
          <div class="mb-3">
            <label for="provinsiName" class="form-label">Nama Kabupaten</label>
            <input type="text" class="form-control" name="nama" placeholder="Nama Kabupaten / Kota" required>
          </div>

          <!-- Belong to which province? -->
          <div class="mb-3">
            <label for="provinsiName" class="form-label">Di Provinsi</label>
            <input type="text" class="form-control" name="letakProvinsi" placeholder="Nama Kabupaten / Kota" required>
          </div>

          <!-- Established Date -->
          <div class="mb-3">
            <label for="establishedDate" class="form-label">Tanggal Diresmikan</label>
            <input type="date" class="form-control" name="diresmikan" required>
          </div>

          <!-- Image Upload -->
          <div class="mb-3">
            <label for="provinceImage" class="form-label">Upload Image</label>
            <input type="file" class="form-control" name="photo" accept="image/*">
          </div>

          <!-- Add Provinsi Button -->
          <button type="submit" class="btn btn-primary w-100">Add Kabupaten</button>
        </form>
      </div>
    </div>
    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>